<!--HTML PADRE-->
{% extends './home_stem.html' %}
<!-- Mostrar Nombre de usuario -->
{% block body %}
<h1> Bienvenido, {{ current_user.fullname }} </h1>
<h2> Servicio {{ servicio }} </h2>
<!-- Mensajes flash -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <br/>
      {% for message in messages %}
      <div class="mi_div">
          <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>{{message}}</strong>
          </div>
      </div>
      {% endfor %}
    {% endif %}
{% endwith %}

<!-- bloque central de generar y descargar-->
<div class="row">
    <div class=" shadow col-md-5 col-sm-12 center ">
        <!-- form para generar -->
        <h3 class="mb-3">Generar reporte</h3>
        <form id="generar_form" method = "POST" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type = "submit" id="myBTn" class="btn btn-lg btn-primary btn-block" type="button"> Generar reporte </button>
            <div class="alert alert-info mt-3">
                {{Mensaje_Reporte}}
            </div>
        </form> 
        <!-- ayuda para generar -->
        <div class="row">
            <div class="col-10"> 
            </div>
            <div class="col-2">
            <a href="#" data-toggle="popover" title="Ayuda sobre Gen. Reporte" data-content="{{Mensaje_help_2}}">
                <i class="material-icons">help</i>
            </a>
            </div>
        </div>

    </div>
    
    <div class=" shadow col-md-5 col-sm-12 center ">
        <!-- form para descargar-->
        <h3 class="mb-3">Descargar reporte</h3>
        <form  id="generar_form2" action="{{url_for('descargar', filename=file)}}" method = "POST" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type = "submit" id="myBTn2" class="btn btn-lg btn-primary btn-block" type="button"> Descargar reporte </button>
            <div class="alert alert-info mt-3">
                {{Mensaje_Descargar}}
            </div>
        </form>
        <!-- ayuda para descargar -->
        <div class="row">
            <div class="col-10"> 
            </div>
            <div class="col-2">
            <a href="#" data-toggle="popover" title="Ayuda sobre descarga de reporte" data-content="{{Mensaje_help_3}}">
                <i class="material-icons">help</i>
            </a>
            </div>
        </div>
    </div>
</div>

<!-- bloque central de generar y descargar 222222222222222222222222-->
<div class="row">
    <div class=" shadow col-md-5 col-sm-12 center mt-1">
        <!-- form para subir -->
        <h3 class="mb-1">Generar reporte</h3>
        <!-- form de subir archivo con modal -->
        <form class = "mx-1" action = "/subir" method = "POST" enctype = multipart/form-data>
            <div class=" shadow center col-md-12  col-xs-12">
                <h3 class="mb-3">Subir Archivos</h3>
                <label for = "formFileMultiple" class = "form-label"> Subir Archivos </label>
                <!--id = "formFileMultiple"-->
                <input class = "form-control form-control-lg" name = "file[]" type = "file" id = "input2" multiple="" />
                <div align ="center" >
                    <!-- Boton para activar modal -->
                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal"  id="click">
                        Subir Archivos
                    </button>
                    <!-- Ayuda -->
                    <div class="row">
                    <div class="col-10"> 
                    </div>
                    <div class="col-2">
                    <a href="#" data-toggle="popover" title="Ayuda para subir archivo" data-content="{{Mensaje_help_1}}">
                        <i class="material-icons">help</i>
                    </a>
                    </div>
                    </div>
                </div>
            </div>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar archivo subido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="header">
                          <h3> Archivos Subidos... </h3>
                        </div>
                        <hr/>
                        <div>
                        Estos son los archivos que acabaste de subir, dale click para descargarlo y comprobar lo que subiste.
                        <!--<input type="file" id="input" /> !-->
                        <input class="btn btn-secondary" type='button' value='Descargar archivo subido' onclick='DownloadFiles2();'>
                          <hr/>
                        </div>
                      </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>         
                        <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}">
                        <input type = submit value = "Confirmar-Subir" class="btn btn-primary">
                        <script>document.getElementById('formFileMultiple').value = ""</script>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
    
    <div class=" shadow col-md-5 col-sm-12 center mt-1">
        <!-- form para descargar-->
        <h3 class="mb-3">Tabla</h3>
        <!--<table class="table table-bordered">-->
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
          <br>
          <div class=" shadow center col-md-12 col-xs-12 mx-1">
        <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm mx-auto" cellspacing="0"
                    width="100%">
            <thead>
              <tr>
                <th scope="col">Registros</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
                <th scope="col">Ver</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for user in data %}
              <tr>
                <th scope="row">{{user[0]}}</th>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                
                <td>
                  <form action="{{ url_for('delete', reg = user[0], my_user = user[1], date = user[2]) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                  </form>
                </td>
                <td>
                    <form action="{{ url_for('down', reg = user[0], my_user = user[1], date = user[2]) }}" method="post">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      
                      <button type="submit" class="btn btn-primary"><i class="fas fa-sort-down"></i></button>
                    </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <form action="{{ url_for('down_date') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary"><i class="fas fa-sort-down"></i></button>
            </form>
          </table>
        </div>
        <!-- ayuda para descargar -->
        <div class="row">
            <div class="col-10"> 
            </div>
            <div class="col-2">
            <a href="#" data-toggle="popover" title="Ayuda sobre descarga de reporte" data-content="{{Mensaje_help_3}}">
                <i class="material-icons">help</i>
            </a>
            </div>
        </div>
    </div>
</div>

<!-- bloque central de generar y descargar-->
<div class="row">
    <div class=" shadow col-md-5 col-sm-12 center ">
        <!-- form para descargar plantillas -->
        <h3 class="mb-3">Descargar Plantillas</h3>
        <div class="alert alert-info mt-3">
            Descargue las plantillas Excel necesarias para el reporte
        </div>
        <div id="plantillas-container">
            <!-- Los archivos se listarán aquí dinámicamente -->
        </div>
        <script>
            // Función para cargar la lista de plantillas
            fetch('/list_plantillas')
                .then(response => response.json())
                .then(files => {
                    const container = document.getElementById('plantillas-container');
                    files.forEach(file => {
                        const btn = document.createElement('a');
                        btn.href = `/descargar_plantilla/${file}`;
                        btn.className = 'btn btn-primary btn-block mb-2';
                        btn.innerHTML = `<i class="fas fa-download"></i> ${file}`;
                        container.appendChild(btn);
                    });
                })
                .catch(error => console.error('Error:', error));
        </script>
    </div>
</div>

<!-- información ultima actualizacion de datos -->
<div class="row">
    <div class = "shadow col-md-11 col-sm-12 center ">
        <div class="alert alert-info mx-auto col-md-6">
            <strong>Información sobre ultima actualizacion de datos:</strong>  {{Mensaje_Actualizacion}}
        </div>
    </div>
</div>

<!-- dash -->
<!--"https://datastudio.google.com/embed/reporting/c01913f2-743f-4b8f-84cf-10a5c0fee398/page/p_0gycj7kj2c"-->
<div class="row">
<div align="center" class=" col-md-12 ">
    <iframe  width="100%" height=3000 src={{link}}
     frameborder="0" style="border:0"  allowfullscreen ></iframe>
</div>
</div>

<script src="{{ url_for('static', filename='js/reportes.js') }}"></script>
{% endblock %}