[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
versioneer = "*"
flask = "*"
mysqlclient = "*"
flask-mysqldb = "*"
Flask-WTF = "*"
flask-login = "*"
Werkzeug = "*"
pandas = "*"
Unidecode = "*"
gspread = "*"
xlsxwriter = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
