{% extends 'index.html' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <<!--ESTE LINK SI FUNCIONA-->
    <script src="https://kit.fontawesome.com/a77e1da68d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block navBar %}

<div class="btn-group">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home<span class="caret"></span></div>
    <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="{{url_for('home_acompanamiento')}}">Home Acompañamiento</a>
        </li>
    </ul>
</div>

<div class="btn-group">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Servicios<span class="caret"></span></div>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="{{url_for('home_unal_lee')}}">UNAL Lee</a>
        </li>
        <li>
        <a class="dropdown-item" href="{{url_for('home_tramites_y_solicitudes')}}">Tramites y Solicitudes</a>
        </li>
        <li>
        <a class="dropdown-item" href="{{url_for('home_focad')}}">FOCAD</a>
        </li>
        <li>
        <a class="dropdown-item" href="{{url_for('home_catedra')}}">Catedra Vida Universitaria</a>
        </li>
        <li>
        <a class="dropdown-item" href="{{url_for('home_tutorias_y_geas')}}">Tutorias y GEAS</a>
        </li>
        <li>
            <a class="dropdown-item" href="{{url_for('home_espa')}}">Escuela de Pares Tutores</a>
        </li>
        <li>
            <a class="dropdown-item" href="{{url_for('home_utp')}}">Unidad de Transformación Pedagogica</a>
        </li>
        </ul>
</div>

<div class="btn-group">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ayuda<span class="caret"></span></div>
    <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="{{url_for('home_ayuda')}}">Formato Subir Archivos</a>
        </li>
    </ul>
</div>


<div class="btn-group">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Cerrar Sesión<span class="caret"></span></div>
    <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar Sesión</a>
        </li>
    </ul>
</div>



{% endblock %}

{% block body %}
<h1> Bienvenido, {{ current_user.fullname }} </h1>

<!---

-->
 

<section class="pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <h3 class="mb-3">Servicios de acompañamiento estudiantil </h3>
          </div>
          <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>


          <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">

                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">UNAL Lee</h4>
                                          <p class="card-text">Información del servicio.</p>
                                          <a href="{{url_for('home_unal_lee')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">Tramites y Solicitudes</h4>
                                          <p class="card-text">Información del servicio.</p>
                                          <a href="{{url_for('home_tramites_y_solicitudes')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1491841550275-ad7854e35ca6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">FOCAD</h4>
                                          <p class="card-text">Información del servicio..</p>
                                          <a href="{{url_for('home_focad')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">Catedra de inducción</h4>
                                          <p class="card-text">Información del servicio.</p>
                                          <a href="{{url_for('home_catedra')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1601807576163-587225545555?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">Tutorias y GEAs</h4>
                                          <p class="card-text">Información del servicio.</p>
                                          <a href="{{url_for('home_tutorias_y_geas')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1601807576163-587225545555?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">Escuela de Pares</h4>
                                          <p class="card-text">Información del servicio.</p>
                                          <a href="{{url_for('home_espa')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>

                      <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid img-car" alt="100%x280" src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
                                    <div class="card-body">
                                        <h4 class="card-title">Unidad de trasnformación Pedagogica</h4>
                                        <p class="card-text">Información del servicio.</p>
                                        <a href="{{url_for('home_utp')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                    </div>

                                </div>
                            </div>
                            

                        </div>
                    </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock%}