{% extends 'index.html' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block navBar %}


<div class="btn-group">
  <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home<span class="caret"></span></div>
  <ul class="dropdown-menu">
      <li>
      <a class="dropdown-item" href="{{url_for('home_sia')}}">Home SIA</a>
      </li>
  </ul>
</div>

<div class="btn-group">
  <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Servicios<span class="caret"></span></div>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{{url_for('home_matriculados')}}">Informe Matriculados</a>
    </li>
    <li>
      <a class="dropdown-item" href="{{url_for('home_estadisticas')}}">Informe Estadisticas</a>
    </li>
    <li>
      <a class="dropdown-item" href="{{url_for('home_proyectos_y_tesis')}}">Informe Proyectos y Tesis</a>
    </li>
    <li>
      <a class="dropdown-item" href="{{url_for('home_tutores')}}">Informe Tutores</a>
    </li>
  </ul>
</div>


<div class="btn-group">
  <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Ayuda<span class="caret"></span></div>
  <ul class="dropdown-menu">
    <li>
        <a class="dropdown-item" href="{{url_for('home_ayuda')}}">Formato Subir Archivos</a>
    </li>
  </ul>
</div>

<div class="btn-group">
  <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Cerrar Sesión<span class="caret"></span></div>
  <ul class="dropdown-menu">
      <li>
      <a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar Sesión</a>
      </li>
  </ul>
</div>

{% endblock %}

{% block body %}
<h1> Bienvenido, {{ current_user.fullname }} </h1>


<section class="pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <h3 class="mb-3">Servicios de informes SIA </h3>
          </div>
          <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>

          

          <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">

                              <div class="col-md-6 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car-adm" alt="100%x280" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title"> Informe de Matriculados</h4>
                                          <p class="card-text">Información de servicio.</p>
                                          <a href="{{url_for('home_matriculados')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                  <div class="card">
                                      <img class="img-fluid img-car-adm" alt="100%x280" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                                      <div class="card-body">
                                          <h4 class="card-title">Estadisticas</h4>
                                          <p class="card-text">Información de servicio.</p>
                                          <a href="{{url_for('home_estadisticas')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                      </div>
                                  </div>
                              </div>


                          </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <img class="img-fluid img-car-adm" alt="100%x280" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                                    <div class="card-body">
                                        <h4 class="card-title"> Proyectos de tesis y trabajos de grados</h4>
                                        <p class="card-text">Información de servicio.</p>
                                        <a href="{{url_for('home_proyectos_y_tesis')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <img class="img-fluid img-car-adm" alt="100%x280" src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80">
                                    <div class="card-body">
                                        <h4 class="card-title">Tutores</h4>
                                        <p class="card-text">Información de servicio.</p>
                                        <a href="{{url_for('home_tutores')}}" class="btn btn-primary mt-3">Ir a servicio</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                     

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock%}