{% extends 'index.html' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block navBar %}
<div class="btn-group">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home<span class="caret"></span></div>
    <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="{{back}}">Home</a>
        </li>
    </ul>
</div>
{% endblock %}
        
{% block body %}

<div class="row">
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg" alt="Excel Logo"></div>
        <div class="col-md-6">
            <p class="lead">In the button below, you can download example files, which are included in a zip archive.</p>
            <div class="d-flex">
                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-download me-1"></i>
                    Download Examples
                </button>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
